    $primary-colorA: #0A0A0A;
    $secondary-colorA: #061b23;
    $terciary-colorA: #106E93;
    $quinary-colorA: #B1CC28;


    $base-color-1: #B10612;
    $base-color-2: $quinary-colorA;
    $base-color-3: #4570ba;

    $desktop: 1200px;
    $tablet: 768px;
