
    $primary-colorA: #0A0A0A;
    $secondary-colorA: white;
    $terciary-colorA: grey;
    $quinary-colorA: #B1CC28;


    $base-color-1: #B10612;
    $base-color-2: $quinary-colorA;
    $base-color-3: #4570ba;

    $desktop: 1200px;
    $tablet: 768px;

    $base-colors: (
    "1": $base-color-1,
    "2": $base-color-2,
    "3": $base-color-3
);

   
