// =============================================================================
// 
// Nombre del Archivo: `style.scss`
// Autor:            Mel
// Fecha:            2025-05-22
// 
// =============================================================================

   
// 2. Mixins
// ----------------------------------------------
@use "sass:color";

@use "./var_darkmode" as var;
// @use "./var_lightmode" as var;

@mixin principal_font {
    font-family: "Sono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var.$quinary-colorA;
}

@mixin secondary_font {
    font-family: "Epilogue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var.$primary-colorA;
}

@mixin gradient1-style {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-around;
}

@mixin interactive-style {
     transition: background-color 0.1s ease;
        
        &:hover {
            @include lighten-color(var.$quinary-colorA, 30%);
        }
        
        &:active {
            @include darkenen-color(var.$quinary-colorA, 20%);
        }
}

@mixin lighten-color($base-color, $amount) {
    background: color.scale($base-color, $lightness: $amount );
}
@mixin darkenen-color($base-color, $amount) {
    background: color.scale($base-color, $lightness: -$amount );
}

@mixin button_style{
    background-color: var.$quinary-colorA;
    @include principal_font();
    color: var.$primary-colorA;
    border-radius: 10%;
    border: none;
    box-shadow: none;
    appearance: none;
    @include interactive-style();
}


// 3. Estilos principales
// ----------------------------------------------

body {
    background-color: var.$secondary-colorA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2rem auto;
    gap: 0,5rem;
    grid-template-areas: "nav nav nav nav nav" 
                         "color color color card card"
                         "lorem lorem lorem card card";
    @include principal_font();
    margin: 0;
}


nav {
    grid-area: nav;
    background-color: var.$terciary-colorA;
    //height: 2rem;
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;  
    padding: 1.2rem; 
}

.menu {
    list-style: none; 
    padding: 0;
    margin: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    
  li {
        color: var.$quinary-colorA;
        padding: 0 0.5rem;
        cursor: pointer;
        
        &:hover {
            color: color.scale(var.$quinary-colorA, $lightness: 20%); 
            transform: scale(1.1); // Escala el texto sin afectar el flujo
            transform-origin: center; // Escala desde el centro
        }

        &.mode {
            text-align: center;
            position: relative;
            

            &:hover {
                .mode-text {
                    display: inline-block;
                    transform: scale(1.1);
                }
            }
            
            .showmodes {
                display: none;
                position: absolute;
                left: 50%;                   // Centrado para elementos en posición absolute
                transform: translateX(-50%); // Centrado para elementos en posición absolute
                width: max-content; // Ancho según contenido
                z-index: 100;
            }
            &:hover .showmodes {
                display: block;
            }


        }
            

    }

    .modes{
        display: flex;
        flex-direction: column;
        
        &.modes button{
            @include button_style();
        }
    }
      
}

 

.gradient_container{
    grid-area: color;
    display: flex;
    flex-direction: column;
    background-color: var.$terciary-colorA;
    height: auto;
    margin: 1rem;
    align-content: center;

    h1 {
        font-size: 36px;
        font-weight: 500;
        margin: 1rem;
        text-align: center;
        color: var.$quinary-colorA;
    }
}



.gradients {
    height: 4rem;
    width: 4rem;
    align-content: center;
    text-align: center;
    margin-inline: 0.2rem;
    min-width: 4rem;

    .color-box-text{
        @include secondary_font();
        font-size: 13px;
    }
}

$base-colors: (
    "1": var.$base-color-1,
    "2": var.$base-color-2,
    "3": var.$base-color-3
);


@each $num, $color in $base-colors {
    .gradient-#{$num} {
        @include gradient1-style();
        
        .base-color-#{$num} {
            background-color: $color;
        }
    @for $i from 1 through 4 {
      .lighten-#{$i} {
        @include lighten-color($color, $i * 10%);
      }
      .darken-#{$i} {
        @include darkenen-color($color, $i * 10%);
      }
    }
  }
}

.lorem{
    background-color: var.$terciary-colorA;
    grid-area: lorem;
    margin: 1rem;
    text-align: justify;
    align-content: center; 
    @include secondary_font();

    p{
        margin: 1rem;
    }
}


.card {
    grid-area: card;
    background-color: var.$terciary-colorA;
    margin: 1rem;   
    display: grid;
    grid-template-areas: "image"
                        "text"
                        "button";
    padding: 1rem;
    @include secondary_font();
}

.card_img {
    grid-area: image;
    display: flex;               
    justify-content: center;
    align-items: center;        
    overflow: hidden;  
    background-color: white;

    img {
        max-width: 20rem;
        width: 100%;                
        height: auto;               
        object-fit: contain;        
    }
    
}

.card_text{
    grid-area: text; 

    h2{
        padding: 1rem;
        margin: 0px;
        margin-top: 1rem;
       
    }
    
    p{
        text-align: justify;
        text-justify:distribute;
        font-size: 14px;
        padding: 1rem;
        color: var.$primary-colorA;
        margin: 0px;
        
    }
}

.card_button{
    grid-area: button;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;

    button {
        width: 5rem;
        height: 2rem;
        @include button_style();
    }
}

@media (max-width: var.$desktop){
    body{
         grid-template-areas: "nav nav nav nav nav" 
                         "color color color color color"
                         "lorem lorem lorem card card";
    }

    .lorem{
        height: fit-content;
    }
}

@media (max-width: var.$tablet){
    body{
         grid-template-areas: "nav nav nav nav nav" 
                         "color color color color color"
                         "lorem lorem lorem lorem lorem"
                         "card card card card card";
        grid-template-rows: auto;                 
    }
    nav{
        position: static;
        height: fit-content;
    }

    .menu{
        display: flex;
        flex-direction: column;

         li {
            margin-block: 0.5rem;
            border-bottom: 1px solid var.$quinary-colorA;
            }
    }

    .gradient_container{
        display: grid;
        grid-template-areas: "title title title"
                            "colors1 colors2 colors3";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;                     
        height: fit-content;
        justify-content: stretch;

        h1{
            grid-area: title;
        }
    }

    .gradient1 {
        display: flex;
        flex-direction: column;
        grid-area: colors1;
    }
     .gradient2 {
        display: flex;
        flex-direction: column;
        grid-area: colors2;
    }
     .gradient3 {
        display: flex;
        flex-direction: column;
        grid-area: colors3;
    }

    .gradients{
        margin: 0.5rem;
    }
  

    .card {
        grid-template-areas: "image text"
                            "image button";
   
    }
}