body {
  background-color: #061b23;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  grid-template-areas: "nav nav nav nav nav" "color color color card card" "lorem lorem lorem card card";
  font-family: "Sono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #B1CC28;
  margin: 0;
}

nav {
  grid-area: nav;
  background-color: #106E93;
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  padding: 1.2rem;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu li {
  color: #B1CC28;
  padding: 0 0.5rem;
  cursor: pointer;
}
.menu li:hover {
  color: rgb(196.5672131148, 220.1147540984, 77.0852459016);
  transform: scale(1.1);
  transform-origin: center;
}
.menu li.mode {
  text-align: center;
  position: relative;
}
.menu li.mode:hover .mode-text {
  display: inline-block;
  transform: scale(1.1);
}
.menu li.mode .showmodes {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 100;
}
.menu li.mode:hover .showmodes {
  display: block;
}
.menu .modes {
  display: flex;
  flex-direction: column;
}
.menu .modes.modes button {
  background-color: #B1CC28;
  font-family: "Sono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #B1CC28;
  color: #0A0A0A;
  border-radius: 10%;
  border: none;
  box-shadow: none;
  appearance: none;
  transition: background-color 0.1s ease;
}
.menu .modes.modes button:hover {
  background: rgb(203.8713114754, 224.4754098361, 99.3245901639);
}
.menu .modes.modes button:active {
  background: rgb(141.6, 163.2, 32);
}

.gradient_container {
  grid-area: color;
  display: flex;
  flex-direction: column;
  background-color: #106E93;
  height: auto;
  margin: 1rem;
  align-content: center;
}
.gradient_container h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 1rem;
  text-align: center;
  color: #B1CC28;
}

.gradients {
  height: 4rem;
  width: 4rem;
  align-content: center;
  text-align: center;
  margin-inline: 0.2rem;
  min-width: 4rem;
}
.gradients .color-box-text {
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #0A0A0A;
  font-size: 13px;
}

.gradient-1 {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-around;
}
.gradient-1 .base-color-1 {
  background-color: #B10612;
}
.gradient-1 .lighten-1 {
  background: rgb(208.6278688525, 7.0721311475, 21.2163934426);
}
.gradient-1 .darken-1 {
  background: rgb(159.3, 5.4, 16.2);
}
.gradient-1 .lighten-2 {
  background: rgb(240.2557377049, 8.1442622951, 24.4327868852);
}
.gradient-1 .darken-2 {
  background: rgb(141.6, 4.8, 14.4);
}
.gradient-1 .lighten-3 {
  background: rgb(247.4950819672, 33.6049180328, 48.6147540984);
}
.gradient-1 .darken-3 {
  background: rgb(123.9, 4.2, 12.6);
}
.gradient-1 .lighten-4 {
  background: rgb(248.5672131148, 65.2327868852, 78.0983606557);
}
.gradient-1 .darken-4 {
  background: rgb(106.2, 3.6, 10.8);
}

.gradient-2 {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-around;
}
.gradient-2 .base-color-2 {
  background-color: #B1CC28;
}
.gradient-2 .lighten-1 {
  background: rgb(189.2631147541, 215.7540983607, 54.8459016393);
}
.gradient-2 .darken-1 {
  background: rgb(159.3, 183.6, 36);
}
.gradient-2 .lighten-2 {
  background: rgb(196.5672131148, 220.1147540984, 77.0852459016);
}
.gradient-2 .darken-2 {
  background: rgb(141.6, 163.2, 32);
}
.gradient-2 .lighten-3 {
  background: rgb(203.8713114754, 224.4754098361, 99.3245901639);
}
.gradient-2 .darken-3 {
  background: rgb(123.9, 142.8, 28);
}
.gradient-2 .lighten-4 {
  background: rgb(211.1754098361, 228.8360655738, 121.5639344262);
}
.gradient-2 .darken-4 {
  background: rgb(106.2, 122.4, 24);
}

.gradient-3 {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-around;
}
.gradient-3 .base-color-3 {
  background-color: #4570ba;
}
.gradient-3 .lighten-1 {
  background: rgb(87.6, 126.3, 192.9);
}
.gradient-3 .darken-1 {
  background: rgb(62.1, 100.8, 167.4);
}
.gradient-3 .lighten-2 {
  background: rgb(106.2, 140.6, 199.8);
}
.gradient-3 .darken-2 {
  background: rgb(55.2, 89.6, 148.8);
}
.gradient-3 .lighten-3 {
  background: rgb(124.8, 154.9, 206.7);
}
.gradient-3 .darken-3 {
  background: rgb(48.3, 78.4, 130.2);
}
.gradient-3 .lighten-4 {
  background: rgb(143.4, 169.2, 213.6);
}
.gradient-3 .darken-4 {
  background: rgb(41.4, 67.2, 111.6);
}

.lorem {
  background-color: #106E93;
  grid-area: lorem;
  margin: 1rem;
  text-align: justify;
  align-content: center;
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #0A0A0A;
}
.lorem p {
  margin: 1rem;
}

.card {
  grid-area: card;
  background-color: #106E93;
  margin: 1rem;
  display: grid;
  grid-template-areas: "image" "text" "button";
  padding: 1rem;
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #0A0A0A;
}

.card_img {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
}
.card_img img {
  max-width: 20rem;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card_text {
  grid-area: text;
}
.card_text h2 {
  padding: 1rem;
  margin: 0px;
  margin-top: 1rem;
}
.card_text p {
  text-align: justify;
  text-justify: distribute;
  font-size: 14px;
  padding: 1rem;
  color: #0A0A0A;
  margin: 0px;
}

.card_button {
  grid-area: button;
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.card_button button {
  width: 5rem;
  height: 2rem;
  background-color: #B1CC28;
  font-family: "Sono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #B1CC28;
  color: #0A0A0A;
  border-radius: 10%;
  border: none;
  box-shadow: none;
  appearance: none;
  transition: background-color 0.1s ease;
}
.card_button button:hover {
  background: rgb(203.8713114754, 224.4754098361, 99.3245901639);
}
.card_button button:active {
  background: rgb(141.6, 163.2, 32);
}

@media (max-width: 1200px) {
  body {
    grid-template-areas: "nav nav nav nav nav" "color color color color color" "lorem lorem lorem card card";
  }
  .lorem {
    height: fit-content;
  }
}
@media (max-width: 768px) {
  body {
    grid-template-areas: "nav nav nav nav nav" "color color color color color" "lorem lorem lorem lorem lorem" "card card card card card";
    grid-template-rows: auto;
  }
  nav {
    position: static;
    height: fit-content;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu li {
    margin-block: 0.5rem;
    border-bottom: 1px solid #B1CC28;
  }
  .gradient_container {
    display: grid;
    grid-template-areas: "title title title" "colors1 colors2 colors3";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    height: fit-content;
    justify-content: stretch;
  }
  .gradient_container h1 {
    grid-area: title;
  }
  .gradient-1 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    grid-area: colors1;
  }
  .gradient-2 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    grid-area: colors2;
  }
  .gradient-3 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    grid-area: colors3;
  }
  .gradients {
    margin: 0.5rem;
  }
  .card {
    grid-template-areas: "image text" "image button";
  }
}

/*# sourceMappingURL=style.css.map */
